/* Genel stiller */
body {
    font-family: Arial, sans-serif;
    background-color: #111212;
    color:#03c5fb;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/* Header stilleri */
header {
    background-color: #ab5454;
    padding: 10px 0;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-nav .nav-link:hover {
    color: #adb5bd;
}

/* Main stilleri */
main {
    padding: 20px 0;
}

h1 {
    color: #007bff;
}

/* Footer stilleri */
.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
}

/* Form stilleri */
.form-group label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
